<div class="frontPage">
    <h1 class="title">Mis Beats</h1>
</div>
<div class="container space">
    <div class="row" *ngFor="let item of getPurchaseKeys()">
        <div class="fondoProducto" *ngFor="let beat of purchases[item].idBeats">
            <div class="photoCarritoFinal">
                <img [src]="beat.img" alt="image" width="50" height="50" class="productImage">
            </div>

            <div>
                <b class="titulitos"> {{beat.title}} </b> <br>
                <div class="container">
                    <div class="row">
                        <div class="col">

                            <small> Duración: {{beat.time}} </small>
                        </div>

                        <div class="col">

                            <small> BPM: {{beat.bpm}} </small>
                        </div>

                        <div class="col">

                            <small> Mood: {{beat.mood.mood || beat.mood}} </small>
                        </div>

                    </div>

                </div>
            </div>
            <div class="introducir">
                <i class="fa-solid fa-download fa-xl pointer"></i>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>