<div class="frontPage">
    <h1 class="title">UPLOAD BEAT</h1>

</div>




<div class="container">
    <app-breadcrumb></app-breadcrumb>


    <form method="POST" id="contactForm" name="contactForm" class="contactForm" (ngSubmit)="save()" [formGroup]="myForm" autocomplete="off" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-12 box">
                <div class="form-group">
                    <label class="label" for="title">Title</label>
                    <input type="text" 
                        class="form-control"
                        formControlName="title" 
                        placeholder="Title">
                                
                    <span class="form-text text-danger"
                    *ngIf="isValidField('title')">
                        Title is required
                    </span>
                </div>
            </div>
            <div class="col-md-12 box"> 
                <div class="form-group">
                    <label class="label" for="price">Price</label>
                    <input type="number" 
                        class="form-control" 
                        formControlName="price" 
                        placeholder="Price">

                    <span class="form-text text-danger"
                    *ngIf="isValidField('price')">
                        Price is required
                    </span>
                </div>
            </div>
            <div class="col-md-12 box"> 
                <div class="form-group">
                    <label class="label" for="time">Time</label>
                    <input type="number" 
                        class="form-control" 
                        formControlName="time" 
                        placeholder="Time">

                    <span class="form-text text-danger"
                    *ngIf="isValidField('time')">
                        Time is required
                    </span>
                </div>
            </div>
            <div class="col-md-12 box">
                <div class="form-group">
                    <label class="label" for="bpm">Bpm</label>
                    <input  type="number" 
                            class="form-control" 
                            formControlName="bpm" 
                            placeholder="Bpm">
                    
                    <span class="form-text text-danger"
                    *ngIf="isValidField('bpm')">
                        Bpm is required
                    </span>
                </div>
            </div>
            <div class="col-md-12 box">
                <div class="form-group">
                    <label class="label" for="picture">Picture</label>
                    <!-- <input  type="file" 
                            name="picture" 
                            class="form-control picture" 
                            formControlName="picture" 
                            placeholder="Picture"
                            (change)="onFileChange($event)"> -->

                        <input type="file" class="form-control" placeholder="picture" formControlName="picture" name="picture" (change)="onFileChange($event)" />
                    
                    <!-- <span class="form-text text-danger"
                    *ngIf="isValidField('message')">
                        Picture is required
                    </span> -->
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <input type="submit" value="Send Message" class="btn btn-primary">
                    <div class="submitting"></div>
                </div>
            </div>
        </div>
    </form>

    
            <!-- <span>Valid</span>
            <pre>{{myForm.valid}}</pre>
    
            <span>Pristine</span>
            <pre>{{myForm.pristine}}</pre>
    
            <span>Touched</span>
            <pre>{{myForm.touched}}</pre>
    
            <span>Value</span>
            <pre>{{myForm.value | json}}</pre> -->
    


    
</div>







