.frontPage {
  display: flex;
  justify-content: center;
  background: linear-gradient(#9e1815, #ca2c26) no-repeat;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 0px 16px;
  margin-bottom: 40px;
}

.title {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 25px;
  font-weight: bolder;
  font-size: xxx-large;
  color: white;
}



.addButton {
  font-size: large;
  width: 130px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2574bf;
  color: white;
  letter-spacing: 5%;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  margin-bottom: 2px;
  margin-top: 25px;
  margin-left: 38px;

}


.addButton:hover {
  background-color: #226db3;
}

.cloud {
  margin-right: 5px;
  margin-left: -2px;
}

/* --------------------------------------  SEARCH ---------------------------------------------  */

.search {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search .input {
  background-color: white;
  border: 0;
  font-size: 18px;
  padding: 15px;
  height: 50px;
  width: 300px;
  border-radius: 2px;
  height: 55px;
  padding-right: 55px;
  box-shadow: rgb(50 50 93 / 20%) 0px 6px 5px -2px, rgb(0 0 0 / 30%) 0px 3px 10px -3px;

}


.btn {
  background-color: white;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  margin-left: -55px;
  height: 50px;
  width: 50px;
  margin-top: -2px;
  padding: 5px 0;
  border-radius: 2px;


}

.cartPicture {
  margin-top: -7px;
}


/* ORDENADOR */
@media screen and (min-width: 1300px) {

  .addButton {
    position: absolute;
    right: 20%;
    top: 145px;

    font-size: large;
    width: 130px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2574bf;
    color: white;
    letter-spacing: 5%;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    margin-bottom: 2px;
    margin-top: 0px;
    margin-left: 0px;
  }


}

/* TABLET */
@media screen and (min-width: 481px) and (max-width:1299px) {}