<div class="frontPage">
    <h1 class="title">BEATS</h1>

</div>
<div class="container">


    <div class="search">

        <app-breadcrumb></app-breadcrumb>
            
        <input type="text" class="input" placeholder="Search..." name="query" [(ngModel)]="query" (change)="console()">
        <button class="btn">
            <svg width="26.5" height="26.5" fill="black" class="fas fa-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
            </svg>
        </button>

        
    </div>


</div>



<app-songs [query]="query"></app-songs>


