<div class="frontPage">
    <h1 class="title">{{ "ACOUNT" | translate }}</h1>

</div>

<div class="container">
    <app-breadcrumb></app-breadcrumb>

    <form method="POST" id="contactForm" name="contactForm" class="contactForm" (ngSubmit)="save()" [formGroup]="myForm"
        autocomplete="off">
        <div class="row">
            <div class="col-md-12 box">
                <div class="form-group">
                    <label class="label" for="name">{{ "Name" | translate }}</label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Name">

                    <span class="form-text text-danger" *ngIf="isValidField('name')">
                        {{ "Name is required" | translate }}
                    </span>
                </div>
            </div>
            <div class="col-md-12 box">
                <div class="form-group">
                    <label class="label" for="email">{{ "Email Address" | translate }}</label>
                    <input type="email" class="form-control" formControlName="email" placeholder="Email">

                    <span class="form-text text-danger" *ngIf="isValidField('email')">
                        {{ "Please provide a valid e-mail" | translate }}
                    </span>
                </div>
            </div>
            <div class="col-md-12 box">
                <div class="form-group">
                    <label class="label" for="password">{{ "Password" | translate }}</label>
                    <input type="password" class="form-control" formControlName="password" placeholder="********">

                    <span class="form-text text-danger" *ngIf="isValidField('password')">
                        {{ "Password is required" | translate }}
                    </span>
                </div>
            </div>
            <div class="col-md-12 buttons">
                <div class="form-group groupButtons">
                    <input type="submit" value="{{ 'Save' | translate }}" class="btn btn-success button">
                    <div class="submitting"></div>

                    <button type="button" class="btn btn-danger" [routerLink]="['/home']">{{ "Cancel" | translate }}
                    </button>
                </div>
            </div>
        </div>
    </form>

</div>