<nav>
    <div class="logo">
        LOGO
    </div>

    <div class="menu">
        <ul>
            <li> 
                <button class="buttonNav">
                    BEATS
                </button>
            </li>
            <li>

                <button class="buttonNav">
                    FAQ
                </button>
            </li>
            <li>
                <button class="buttonNav">
                    CONTACT
                </button>
            </li>
            <li>
                <button class="buttonNav">
                    LUPA
                </button>
            </li>
            
            <li class="liBorder">
                <button class="cart">
                    CARRO 0,0 $
                </button>
            </li >

            <li class="liBorder">
                <button class="login">
                    FOTO LOG IN
                </button>
            </li>
        </ul>
    </div>

</nav>

