/* -------------------------------------------  MOBILE --------------------------------------------------  */

/* --------------------------------------  TAG LIST OF SONGS ---------------------------------------------  */

.songsList {
    margin-bottom: 50px;
    margin-top: 40px;
    width: 90%;

}

.listProductTag {
    margin-top: 50px;
    margin-bottom: 25px;
    color: grey;
    font-size: small;

}

.productTitleTag {
    text-align: center;
}

.productTimeTag {
    text-align: center;
}

.productBpmTag {
    text-align: center;
}


/* --------------------------------------  LIST OF SONGS ---------------------------------------------  */


.listProduct {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.productImage {
    cursor: pointer;
    border-radius: 8px;
    object-fit: cover;
    width: 180px;
}

.productTitle {
    text-align: center;
}

.productTime {
    text-align: center;
}

.productBpm {
    text-align: center;

}

.share-button {
    width: 190px;
    display: flex;
    justify-content: space-between;
}

.share {
    cursor: pointer;
    margin-top: 10px;
}

.cartButton {
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #1b8d57;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    border: solid 2px #1b8d57;
    border-radius: 5px;
    margin-bottom: 2px;
    justify-content: space-between;
    margin-left: 50px;

}

.cartButton:hover {
    background-color: #1a9b5f;
    border: solid 2px #1a9b5f;
}


.division {
    margin: auto;
    width: 69%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttonEdit {
    margin: 2.5px;
    height: 50px !important;
}

.buttonDelete {
    margin: 2.5px;
    height: 50px !important;
    background-color: #ca2924 !important;
}

.buttonDelete:active {
    color: black;
}

.buttonEdit:active {
    color: black;
}

.buttonAddGenre {
    margin: 2.5px;
    height: 50px !important;
    color: white;
    background-color: #f0b914;
    border-color: #f0b914;
}

.pictureGenre {
    margin-bottom: 2.5px;
    margin-right: -3px;
}

.iconAdmin {
    margin-bottom: 3px;

}

.adminArea {
    display: flex;
    justify-content: center;
}

/* -------------------------------------- TABLE ---------------------------------------------  */

.table>:not(caption)>*>* {
    border-bottom: none;
}

.td {
    margin-top: 13px;
}

.tdPicture {
    display: flex;
    margin-top: 3px;
}

.filtro {
    padding: 13px;
    padding-left: 75px;
    padding-right: 82px;
    cursor: pointer;

    position: absolute;

    opacity: 0;
}

.filtro:hover {
    opacity: 1;
    background-color: rgba(53, 53, 53, 0.7);
    border-radius: 8px;
}

.genreTd {
    display: flex;
    padding-top: 15.5px;
    padding-bottom: 15.5px;
}



.tdButtons {
    display: flex;
    width: auto;
    justify-content: flex-end;
}

input {
    background-color: white;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 300px;
    border-radius: 2px;
    height: 55px;
    padding-right: 55px;
    box-shadow: rgb(50 50 93 / 20%) 0px 6px 5px -2px, rgb(0 0 0 / 30%) 0px 3px 10px -3px;

}

.genreButton {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    height: 45px;
    background-color: black;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    margin-left: 5px;
    cursor: default;
}

.deleteGenre {
    display: inline;
    margin-bottom: 4px;
    cursor: pointer;
}


.price {
    display: flex;
    justify-content: flex-end;
    margin-right: 8%;

}




/* ORDENADOR */
@media screen and (min-width: 769px) {}

/* TABLET */
@media screen and (min-width: 481px) and (max-width:768px) {}