
/* --------------------------------------  TAG LIST OF SONGS ---------------------------------------------  */

.songsList{
    margin-bottom: 50px;
    margin-top: 40px;
    width: 90%;

}

.listProductTag{
    margin-top: 50px;
    margin-bottom: 25px;
    color: grey;
    font-size: small;

}

.productTitleTag{
    text-align: center;
}

.productTimeTag{
    text-align: center;
}

.productBpmTag{
    text-align: center;
    /* padding-left: 30px !important;
    padding-right: 30px !important; */
}




/* --------------------------------------  LIST OF SONGS ---------------------------------------------  */


.listProduct{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.productImage{
    border-radius: 8px;
    object-fit: cover;
    width: 180px;
}

.productTitle{
    text-align: center;
}

.productTime{
    text-align: center;
}

.productBpm{
    text-align: center;

}

.share-button{
    width: 190px;
    display: flex;
    justify-content: space-between;
}

.share{
    /* margin-right: -25px; */

    cursor: pointer;

    margin-top: 10px;
}

.cartButton{
    width: 130px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: white;
    border: solid 2px;
    border-radius: 5px;
    margin-bottom: 2px;
    justify-content: center;
    margin-left: 16px;

}


.division{
    margin: auto;
    width: 69%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttonEdit{
    margin: 2.5px;
    height: 50px !important;
}

.buttonDelete{
    margin: 2.5px;
    height: 50px !important;
    background-color: #ca2924 !important;
}

.iconAdmin{
    margin-bottom: 3px;

}

.adminArea{
    display: flex;
    justify-content: center;
}
