<div class="container-fluid songsList">

    <!-- **************************** TABLA BONITA PERO POCO FUNCIONAL ********************************** -->

    <!-- **************************** TAG ********************************** -->

    <!-- <div class="listProductTag row">

        <span class="col"></span>

        <span class="productTitleTag col">TITLE</span>

        <span class="productTimeTag col">TIME</span>

        <span class="productBpmTag col">BPM</span>

        <span class="productTimeTag col">GENRE</span>

        <span class="productBpmTag col">MOOD</span>

        <span class="col"></span>

    </div> -->

    <!-- **************************** END TAG ********************************** -->

    <!-- <div *ngIf="beats">

        <div class="listProduct row" *ngFor="let beat of beats.content">
            <div class="picture col">

                <img src={{beat.img}} alt="image" width="50" height="50" class="productImage">
            </div>

            <span class="productTitle col">{{beat.title}}</span>


            <span class="productTime col">{{secondsToString(beat.time)}}</span>

            <span class="productBpm col">{{beat.bpm}}</span>

            <span class="productTime col"><span *ngFor="let itemGenre of beat.genreList">{{itemGenre.genre.genre ||
                    itemGenre.genre}}</span></span>

            <span class="productBpm col"><span *ngFor="let listMood of beat.moodList">{{listMood.mood.mood ||
                    listMood.mood}} </span></span>


            <div class="share-button col" *ngIf="role!='ADMIN'">

                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                    class="bi bi-share-fill share" viewBox="0 0 16 16">
                    <path
                        d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                </svg>

                <button class="cartButton">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                        class="bi bi-cart-plus " viewBox="0 0 16 16">
                        <path
                            d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                        <path
                            d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg>
                    <span style="margin-left: 10px; font-weight: 500;">{{beat.price}} $</span>
                </button>
            </div>

            <div class="col adminArea" *ngIf="role=='ADMIN'">
                <button class="btn btn-success buttonEdit" [routerLink]="['/beats/edit/' + beat.idBeat]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-pencil iconAdmin" viewBox="0 0 16 16">
                        <path
                            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                    </svg>
                    <span style="margin-left: 10px; font-weight: 500;">Edit</span>
                </button>

                <button class="btn btn-danger buttonDelete" (click)="onDelete(beat.idBeat)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash3 iconAdmin" viewBox="0 0 16 16">
                        <path
                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                    </svg>
                    <span style="margin-left: 10px; font-weight: 500;">Delete</span>
                </button>
            </div>
            <hr class="division row">
        </div>
    </div> -->

    <!-- ****************************  END TABLA BONITA PERO POCO FUNCIONAL ********************************** -->

    <!-- ****************************  TABLA FEA PERO FUNCIONAL ********************************** -->

    <table class="table table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" *ngIf="results">
        <thead>
            <tr>
                <th></th>
                <th>{{ "TITLE" | translate }}</th>
                <th>{{ "TIME" | translate }}</th>
                <th>BPM</th>
                <th>{{ "MOOD" | translate }}</th>
                <th>{{ "GENRE" | translate }}</th>
                <th *ngIf="role!='ADMIN'" class="price">{{ "PRICE" | translate }}</th>
                <th *ngIf="role=='ADMIN'"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let beat of results">
                <td (click)="audioPlayer(beat)">
                    <div class="tdPicture">
                        <img src={{beat.img}} alt="image" width="50" height="50" class="productImage">
                        <div class="filtro">
                            <i class="fa-solid fa-play fa-2xl" style="color: #e0e0e0;"></i>
                        </div>
                    </div>
                </td>
                <td (click)="audioPlayer(beat)">
                    <div class="td">{{ beat.title }}</div>
                </td>
                <td (click)="audioPlayer(beat)">
                    <div class="td">{{secondsToString(beat.time)}}</div>
                </td>
                <td (click)="audioPlayer(beat)">
                    <div class="td">{{ beat.bpm }}</div>
                </td>
                <td (click)="audioPlayer(beat)">
                    <div class="td">{{beat.mood.mood || beat.mood}}</div>
                </td>
                <td class="genreTd"> <span *ngFor="let itemGenre of beat.genreList">
                        <div>
                            <button class="genreButton">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-x-circle deleteGenre" viewBox="0 0 16 16"
                                    (click)="onDeleteGenre(beat.idBeat, itemGenre.genre.genre || itemGenre.genre)"
                                    *ngIf="role=='ADMIN'">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                </svg>
                                {{itemGenre.genre.genre || itemGenre.genre}}
                            </button>
                        </div>
                    </span>
                </td>
                <td>
                    <div class="share-button tdButtons" *ngIf="role!='ADMIN'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                            class="bi bi-share-fill share" viewBox="0 0 16 16">
                            <path
                                d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z" />
                        </svg>

                        <button class="cartButton">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                                class="bi bi-cart-plus " viewBox="0 0 16 16">
                                <path
                                    d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9V5.5z" />
                                <path
                                    d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zm3.915 10L3.102 4h10.796l-1.313 7h-8.17zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                            </svg>
                            <span style="margin-left: 10px; font-weight: 500;">{{beat.price}} $</span>
                        </button>
                    </div>

                    <div class="adminArea" *ngIf="role=='ADMIN'">
                        <button class="btn btn-success buttonEdit" [routerLink]="['/beats/edit/' + beat.idBeat]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil iconAdmin" viewBox="0 0 16 16">
                                <path
                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                            </svg>
                            <span style="margin-left: 10px; font-weight: 500;">{{ "Edit" | translate }}</span>
                        </button>

                        <button class="btn btn-warning buttonAddGenre" (click)="onAddGenre(beat.idBeat)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-plus-lg pictureGenre" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                    d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z" />
                            </svg>
                            <span style="margin-left: 10px; font-weight: 500;">{{ "Add Genre" | translate }}</span>
                        </button>

                        <button class="btn btn-danger buttonDelete" (click)="onDelete(beat.idBeat)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash3 iconAdmin" viewBox="0 0 16 16">
                                <path
                                    d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                            </svg>
                            <span style="margin-left: 10px; font-weight: 500;">{{ "Delete" | translate }}</span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>