/* -------------------------------------------  MOBILE --------------------------------------------------  */

/* --------------------------------------  TAG LIST OF SONGS ---------------------------------------------  */

.songsList {
    margin-bottom: 50px;
    margin-top: 40px;
    width: 90%;

}

.listProductTag {
    margin-top: 50px;
    margin-bottom: 25px;
    color: grey;
    font-size: small;

}

.productTitleTag {
    text-align: center;
}

.productTimeTag {
    text-align: center;
}

.productBpmTag {
    text-align: center;
}


/* --------------------------------------  LIST OF SONGS ---------------------------------------------  */


.listProduct {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.productImage {
    cursor: pointer;
    border-radius: 8px;
    object-fit: cover;
    width: 148px;
}

.productImageAdmin {
    cursor: pointer;
    border-radius: 8px;
    object-fit: cover;
    width: 60px;
}

.productTitle {
    text-align: center;
}

.productTime {
    text-align: center;
}

.productBpm {
    text-align: center;

}

.share-button {
    width: 190px;
    display: flex;
    justify-content: space-between;
}

.share {
    cursor: pointer;
    margin-top: 10px;
}

.cartButton {
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #1b8d57;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    border: solid 2px #1b8d57;
    border-radius: 5px;
    margin-bottom: 2px;
    justify-content: space-between;
    margin-left: 50px;

}

.cartButtonShort {
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #1b8d57;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    border: solid 2px #1b8d57;
    border-radius: 5px;
    margin-bottom: 2px;
    justify-content: space-between;
}

.esconder {
    display: none !important;
}

.show {
    display: flex !important;
}

.cartButton:hover {
    background-color: #1a9b5f;
    border: solid 2px #1a9b5f;
}

.cartButtonDelete {
    width: 140px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #ca2924;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    border-radius: 5px;
    margin-bottom: 2px;
    justify-content: space-between;
    margin-left: 50px;
    border: 0;
    display: none;
}

.cartButtonDeleteShort {
    width: 60px;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #ca2924;
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    border-radius: 5px;
    margin-bottom: 2px;
    justify-content: space-between;
    margin-left: 50px;
    border: 0;
    display: none;
}

.cartButtonDelete:hover {
    background: #d81515;
}

.division {
    margin: auto;
    width: 69%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.buttonEdit {
    margin: 2.5px;
    height: 50px !important;
}

.buttonDelete {
    margin: 2.5px;
    height: 50px !important;
    background-color: #ca2924 !important;
}

.buttonDelete:active {
    color: black;
}

.buttonEdit:active {
    color: black;
}

.buttonAddGenre {
    margin: 2.5px;
    height: 50px !important;
    color: white;
    background-color: #f0b914;
    border-color: #f0b914;
}

.pictureGenre {
    margin-bottom: 2.5px;
    margin-right: -3px;
}

.iconAdmin {
    margin-bottom: 3px;

}

.adminArea {
    display: flex;
    justify-content: flex-end;
}

/* -------------------------------------- TABLE ---------------------------------------------  */

.table>:not(caption)>*>* {
    border-bottom: none;
}

.td {
    margin-top: 13px;
}

.tdPicture {
    display: flex;
    margin-top: 3px;
}

.filtro {
    padding: 13px;
    padding-left: 65px;
    padding-right: 60px;
    cursor: pointer;
    position: absolute;

    opacity: 0;
}

.filtroAdmin {
    padding: 13px;
    padding-left: 19px;
    padding-right: 18px;
    cursor: pointer;
    position: absolute;

    opacity: 0;
}

.filtroAdmin:hover {
    opacity: 1;
    background-color: rgba(53, 53, 53, 0.7);
    border-radius: 8px;
}


.filtro:hover {
    opacity: 1;
    background-color: rgba(53, 53, 53, 0.7);
    border-radius: 8px;
}

.genreTd {
    display: flex;
    padding-top: 27px;
    padding-bottom: 24px;
}



.tdButtons {
    display: flex;
    width: auto;
    justify-content: flex-end;
}

.tdButtonsAdminPrice {
    padding-top: 12px;
}

input {
    background-color: white;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 300px;
    border-radius: 2px;
    height: 55px;
    padding-right: 55px;
    box-shadow: rgb(50 50 93 / 20%) 0px 6px 5px -2px, rgb(0 0 0 / 30%) 0px 3px 10px -3px;

}

.genreButton {
    width: auto;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 6px;
    color: white;
    height: 45px;
    background-color: black;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    margin-left: 5px;
    cursor: default;
}

.genreButtonAdmin {
    width: auto;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    color: white;
    height: 45px;
    background-color: black;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    margin-left: 5px;
    cursor: default;
}

.deleteGenre {
    display: inline;
    margin-bottom: 4px;
    cursor: pointer;
}


.price {
    display: flex;
    justify-content: flex-end;
    margin-right: 8%;

}

.chip {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-right: 10px;
    letter-spacing: 0.5px !important;
}




/* ORDENADOR */
@media screen and (min-width: 1300px) {
    .chip {
        margin-bottom: 0px;
        margin-top: 0px;
    }

    .productImageAdmin {
        cursor: pointer;
        border-radius: 8px;
        object-fit: cover;
        width: 148px;
    }

    .filtroAdmin {
        padding: 13px;
        padding-left: 65px;
        padding-right: 60px;
        cursor: pointer;
        position: absolute;
        opacity: 0;
    }


}

/* TABLET */
@media screen and (min-width: 481px) and (max-width:1299px) {

    .chip {
        margin-bottom: 15px;
        margin-top: 15px;
    }

    .productImageAdmin {
        cursor: pointer;
        border-radius: 8px;
        object-fit: cover;
        width: 100px;
    }

    .filtroAdmin {
        padding: 13px;
        padding-left: 38px;
        padding-right: 38px;
        cursor: pointer;
        position: absolute;
    }
}