<div class="background"
    [ngClass]="{'background': true, 'imagen-cargada': imagenCargadaLogin, backgroundAlternative: view}">

    <!-- ***************************************   REGISTER   *******************************************-->

    <div class="container" [ngClass]="{'right-panel-active': view, 'imagen-cargada': imagenCargadaLogin}"
        id="container">
        <div class="form-container sign-up-container">
            <form action="#" (ngSubmit)="newAccount()" #registerForm="ngForm">
                <h1>{{ "Create account" | translate }}</h1>
                <div class="social-container">
                    <!-- <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
                </div>
                <!-- <span>or use your username for registration</span> -->
                <input type="name" class="form-control" placeholder="{{ 'Name' | translate }}" [(ngModel)]="newName"
                    name="name" minlength="3" required>
                <span class="form-text text-danger" *ngIf="notValidName('name')">
                    {{ "Name is required" | translate }}
                </span>

                <input type="username" class="form-control" placeholder="{{ 'Username' | translate }}"
                    [(ngModel)]="newUsername" name="username" minlength="3" required>
                <span class="form-text text-danger" *ngIf="notValidUsername('username')">
                    {{ "Username is required" | translate }}
                </span>

                <input type="email" class="form-control" placeholder="{{ 'E-mail' | translate }}" [(ngModel)]="newEmail"
                    name="NewEmail" minlength="3" required>
                <span class="form-text text-danger" *ngIf="notValidNewEmail('NewEmail')">
                    {{ "Please provide a valid e-mail" | translate }}
                </span>

                <input type="password" class="form-control" placeholder="{{ 'Password' | translate }}"
                    [(ngModel)]="newPassword" name="NewPassword" required autocomplete="">

                <span class="form-text text-danger" *ngIf="notValidNewPassword('NewPassword')">
                    {{ "Password is required" | translate }}
                </span>

                <input type="password" class="form-control" placeholder="{{ 'Repeat Password' | translate }}"
                    [(ngModel)]="repeatNewPassword" name="RepeatNewPassword" required autocomplete="">

                <span class="form-text text-danger" *ngIf="notValidRepeatNewPassword('RepeatNewPassword')">
                    {{ "Password does not match" | translate }}
                </span>

                <re-captcha (resolved)="resolved($event)" siteKey="6LeL3DwlAAAAADghCJPu7qoZwQw8nYA-hF-Y9Xi-"
                    [(ngModel)]="captcha" name="captcha" required></re-captcha>


                <!-- <span class="form-text text-danger" [hidden]="captcha"> -->
                <span class="form-text text-danger captcha" *ngIf="notValidCaptcha('captcha')">
                    {{ "Please complete the captcha" | translate }}
                </span>


                <button type="submit" class="signUp">{{ "Sign Up" | translate }}</button>

                <button type="button" class="ghost" id="signIn" (click)="changeView()" *ngIf="buttonGhost">Sign
                    In</button>

            </form>
        </div>

        <!-- ***************************************   LOG IN   *******************************************-->

        <div class="form-container sign-in-container">
            <form action="#" (ngSubmit)="login()" #logInForm="ngForm">
                <h1>{{ "Sign in" | translate }}</h1>
                <div class="social-container">
                    <!-- <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                    <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a> -->
                </div>
                <!-- <span>or use your account</span> -->
                <input type="username" class="form-control" placeholder="{{ 'Username' | translate }}" name="username"
                    minlength="3" [(ngModel)]="username" required>

                <span class="form-text text-danger" *ngIf="notValidUsernameLogin('username')">
                    {{ "Please provide a valid username" | translate }}
                </span>


                <input type="password" class="form-control" placeholder="{{ 'Password' | translate }}" name="password"
                    [(ngModel)]="password" required autocomplete="">

                <span class="form-text text-danger" *ngIf="notValidPassword('password')">
                    {{ "Password is required" | translate }}
                </span>
                <p>{{ "Forgot your password?" | translate }}</p>
                <button type="submit">{{ "Sign In" | translate }}</button>

                <button type="button" class="ghost" id="signUp" (click)="changeView()" *ngIf="buttonGhost">
                    {{ "Sign Up" | translate }}
                </button>

            </form>
        </div>

        <!-- ***************************************   GO LOG IN   *******************************************-->

        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel">
                    <h1>{{ "Welcome Back!" | translate }}</h1>
                    <p>{{ "To keep connected" | translate }}</p>
                    <button class="ghost" id="signIn" (click)="changeView()">Sign In</button>
                </div>

                <!-- ***************************************   GO REGISTER   *******************************************-->

                <div class="overlay-panel overlay-right">
                    <h1>{{ "Hello, Friend!" | translate }}</h1>
                    <p>{{ "Enter your personal" | translate }}</p>

                    <button class="ghost" id="signUp" (click)="changeView()">
                        {{ "Sign Up" | translate }}
                    </button>
                </div>
            </div>
        </div>
    </div>



</div>