<div class="frontPage">
    <h1 class="title">{{ "EDIT BEAT" | translate }}</h1>
</div>

<div class="container">
    <app-breadcrumb></app-breadcrumb>


    <form method="POST" id="contactForm" name="contactForm" class="contactForm" (ngSubmit)="save()" [formGroup]="myForm"
        autocomplete="off">
        <div class="row">
            <div class="col-md-12 box">
                <div class="form-group">
                    <label class="label" for="title">{{ "Title" | translate }}</label>
                    <input type="text" class="form-control" formControlName="title" [placeholder]="'Title' | translate">

                    <span class="form-text text-danger" *ngIf="isValidField('title')">
                        {{ "Title is required" | translate }}
                    </span>
                </div>
            </div>
            <div class="col-md-4 box">
                <div class="form-group">
                    <label class="label" for="price">{{ "Price" | translate }}</label>
                    <input type="number" class="form-control" formControlName="price"
                        [placeholder]="'Price' | translate">

                    <span class="form-text text-danger" *ngIf="isValidField('price')">
                        {{ "Price is required" | translate }}
                    </span>
                </div>
            </div>
            <div class="col-md-4 box">
                <div class="form-group">
                    <label class="label" for="time"> {{ "Time" | translate }}</label>
                    <input type="number" class="form-control" formControlName="time" [placeholder]="'Time' | translate">

                    <span class="form-text text-danger" *ngIf="isValidField('time')">
                        {{ "Time is required" | translate }}
                    </span>
                </div>
            </div>
            <div class="col-md-4 box">
                <div class="form-group">
                    <label class="label" for="bpm">Bpm</label>
                    <input type="number" class="form-control" formControlName="bpm" placeholder="Bpm">

                    <span class="form-text text-danger" *ngIf="isValidField('bpm')">
                        {{ "Bpm is required" | translate }}
                    </span>
                </div>
            </div>


            <div class="col-md-12 box">
                <div class="form-group">
                    <label class="label" for="mood">{{ "Mood" | translate }}</label>
                    <select class="form-select" formControlName="mood">
                        <option *ngFor="let mood of moods">{{mood.mood}}</option>
                    </select>

                    <span class="form-text text-danger" *ngIf="isValidField('mood')">
                        {{ "Mood is required" | translate }}
                    </span>
                </div>
            </div>

            <div class="col-md-12 buttons">
                <div class="form-group groupButtons">
                    <input type="submit" [value]="'Save' | translate" class="btn btn-success button">
                    <div class="submitting"></div>

                    <button type="button" class="btn btn-danger" [routerLink]="['/beats']">{{ "Cancel" |
                        translate }}</button>
                </div>
            </div>
        </div>
    </form>

</div>