html,
body {
  font: 100%/1.5 Verdana, sans-serif
}

.songsList {
  padding: 0 10%;
}

#wrapper {
  margin: 0 auto;
  display: block;
  width: 960px;
  margin-top: -15px;

}

.page-header {
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
  margin: 30px 0
}

#pagination {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 25px;

}

#pagination li {
  display: inline;
  cursor: pointer;
}

#pagination li a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #000;
  /* box-shadow: rgba(50, 50, 93, 0.15) 0px 6px 12px -2px, rgba(0, 0, 0, 0.1) 0px 3px 7px -3px; */
}

/* Active and Hoverable Pagination */
#pagination li a {
  border-radius: 100%;
  width: 35px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s
}

#pagination li a.active {
  background-color: #e52d27;
  color: #fff
}

#pagination li a:hover:not(.active) {
  background-color: #ddd;
}

/* border-pagination */
.b-pagination-outer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  display: flex
}

#border-pagination {
  margin: 0 auto;
  padding: 0;
  text-align: center
}

#border-pagination li {
  display: inline;

}

#border-pagination li a {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border: 1px solid #ddd;
  float: left;

}

#border-pagination li a {
  -webkit-transition: background-color 0.4s;
  transition: background-color 0.4s
}

#border-pagination li a.active {
  background-color: #4caf50;
  color: #fff;
}

#border-pagination li a:hover:not(.active) {
  background: #ddd;
}

.my-pagination ::ng-deep .ngx-pagination .current {
  background: #e52d27;
  border-radius: 8px;
}

.my-pagination ::ng-deep .ngx-pagination a {
  border-radius: 8px;
}

.my-pagination ::ng-deep ul {
  margin: 0;
  padding: 0;
}

.my-pagination {
  display: flex;
  justify-content: space-around;
  margin: auto;
}


.text {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 6px;
  color: rgb(159, 159, 159);
}

.form-select {
  width: 75px;
}

.paginas {
  display: flex;

  justify-content: center;
}


/* --------------------------------------  TAG LIST OF SONGS ---------------------------------------------  */

.listProductTag {
  margin-top: 50px;
  margin-bottom: 25px;
  color: grey;
  font-size: small;
}

.productTitleTag {
  padding-left: 30px;
}

.productTimeTag {
  margin: 0;
  padding: 0;
  text-align: center;
}

.productBpmTag {
  margin: 0;
  padding: 0;
  text-align: center;

}


/* --------------------------------------  LIST OF SONGS ---------------------------------------------  */


.listProduct {
  display: flex;
  align-items: center;
}

.songsList {
  margin-bottom: 50px;
  margin-top: 45px;

}


.productImage {
  border-radius: 8px;
  object-fit: cover;
  /* width: 250px; */
}

.filtro {
  width: 100%;
  height: 50px;
  display: flex;
  cursor: pointer;
  position: relative;
  opacity: 0;
  margin-top: -50px;
  justify-content: center;
  align-items: center;
}

.filtro:hover {
  width: 100%;
  opacity: 1;
  background-color: rgba(53, 53, 53, 0.7);
  border-radius: 8px;
}

.productTitle {
  padding-left: 30px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productTime {
  text-align: center;
}

.productBpm {
  text-align: center;
}

.share-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 0;
}

.share {
  margin-right: 7%;

  cursor: pointer;

  margin-top: 10px;
}



.cartButton {
  width: 140px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #1b8d57;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  border: solid 2px #1b8d57;
  border-radius: 5px;
  margin-bottom: 2px;
  justify-content: space-between;

}

.cartButton:hover {
  background-color: #1a9b5f;
  border: solid 2px #1a9b5f;
}

.cartButtonDelete {
  width: 140px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: #ca2924;
  padding-left: 15px;
  padding-right: 15px;
  color: white;
  border-radius: 5px;
  margin-bottom: 2px;
  justify-content: space-between;
  border: 0;
  display: none;
}

.cartButtonDelete:hover {
  background: #d81515;
}


.division {
  display: flex;
  justify-content: center;

}

.esconder {
  display: none !important;
}

.show {
  display: flex !important;
}

.newDiv {
  margin: 0;
  padding: 0;
  display: contents;
}

/* ---------------------------------------SPINNER------------------------------------------- */

.backgroundSpinner {
  padding-top: 45px;
  padding-bottom: 10px;
  animation: show 0.6s;
  display: flex;
  justify-content: center;
  animation: show 0.6s;

}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #00000056;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}